Ans.1. 
Values:
'hello'
-87.8
6
Expression:
*
-
/
+

Ans.2.
String vs Variable
Variable: it's a store of a values or information . it means any values can be stored by taking a variable, for ex: a= 25 or a= 'once upon a time'. Here, 'a' is the variable.
String: It is just one type of values. in general, group of letters are used to represent a string. for ex: 'once upon a time' is a string.

Ans.3 
Data Type: the different types of data that can be assigned to a variable are called as data type. Data types:

1.Integer: these are the data which are having fixed values and whole values in numeric characters. Ex:1,2,3,45 etc.

2. Float: the data type where numerical values are present with decimals. Ex: 5.9, 52.33.

3.Comples Numbers: This a data type where one part real and other part is imaginary in nature. Ex: 2-3j.

4.String: In this data type group of letters/alphabets are used.Ex: 'ghghggh'.

Ans.4.
An expression is made up of variables, mathematical operators and values that yield a result 

In pythin,the interpreter evaluates the expression and displays the result.Ex: a = 4*6, finally here we are going to get a result. this whole is an expression.

Ans.5 
An expression a made up of variables, operators and values that yield a result.
Statement is just a command that is executed by the interpreter.Ex: Print(), type().

In [1]:
bacon=22
bacon+1

23

Ans.6
 the output will be 23

Ans.7.
we know that a string can be added to another string also if we multiply a string with some numerical value the result will be the string repasting itself number of times the numerical value.

In [2]:
'spam'+ 'spamspam'

'spamspamspam'

In [3]:
'spam'*3

'spamspamspam'

Ans.8
An integer can not be used as a variable as it is fixed in numerical value, only a string can be used like a variable in python. so, if we use 100 as a varible it will result into an error while using 'eggs' as a varible will remain valid and error free.

Ans.9
In python, int() function will get integer, float() will get float-point number and str() will get the value ofstring.

Ans.10.
we know that only string can be added to a string and integer to and integer. In question 10, 'I have eaten' and 'burritos' are string data type while 99 is integer. thats why it shows error. if we want to concatenate then we need to typecast it.

'I have eaten ' + 99 + ' burritos'

In [19]:
a='99'

In [22]:
'I have eaten'+a+ 'burritos'

'I have eaten99burritos'